@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #93a8ac;
  --primary-dark: #424b54;
  --primary-pink: #e2b4bd;
  --primary-purple: #9b6a6c;

  --border: #e5e5e5;
  --muted: #9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
   --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-pink: var(--primary-pink);
  --color-primary-purple: var(--primary-purple);

  --font-sans: var(--font-onest);
  --font-sans: var(--font-tiktok);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onest), sans-serif;
  font-family: var(--font-tiktok), sans-serif;

}
